# Fichiers à ignorer par Git

# Scripts de déploiement et sauvegarde
deploy_github.sh
backup.sh

# Logs
*.log
ansible.log

# Fichiers temporaires
*.tmp
*.temp
.ansible/

# Environnements virtuels
venv/
env/
.env

# Fichiers de sauvegarde
*~
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de configuration personnels (décommentez si besoin)
# inv/hosts.yml
# play/group_vars/all.yml
